.game-area {
    position: relative;
    margin: 2em auto;
    width: 600px;
    height: 70vh;
    border: 1px solid #000;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .snake-dot {
    position: absolute;
    width: 4%;
    height: 4%;
    background: center / contain no-repeat url("https://image.flaticon.com/icons/svg/2746/2746582.svg") ;
    z-index: 2;
  }

  .snake-dot:last-of-type{
    background: center / contain no-repeat url("https://image.flaticon.com/icons/svg/2718/2718069.svg");
  }
  
  .snake-food {
    position: absolute;
    width: 4%;
    height: 8%;
    z-index: 1;
  }