@font-face {
    font-family: 'abril';
    src: url("Fonts/AbrilFatface-Regular.ttf")
}

* {
    margin: 0;
    padding: 0;
}

.App {
 height: 100vh;
}

.title {
    font-family: 'abril';
    text-align: center;
}

img {
    width: 100%;
}

.header{
    display:flex;
    background-color:aqua;
}

.ulNav{
    display:flex;
}

.liNav{
    padding: 10px 30px;
    list-style-type: none;
    text-decoration: none;
}
 