img {
    width: 100%;
}

.mosaique{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 90%;
    margin: auto;
}

.mosaique > div{
    border: 10px solid rgb(95, 51, 51);
}